body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-top: 5px;
  margin-right: 90px;
  margin-left: 60px;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/Ciudad\ hiperrealista.png);
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;


}

#header {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 5px 10px;
    background-color:#1b2c27;
    border-radius: 10px;
    border: 3px solid #001936;
}

#logo{
    height: 200px;
    margin-left: -15px;
    cursor: pointer;
}

#titulo{
    font-size: 45px;
    margin: 0%;
    color: #fafafa;
}

#contenido{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
    color: #fafafa;


}

#ListaComentarios{
    flex: 1;              
    max-width: 55%;
    background-color:#619574;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #001936;
}

#Formulario{
    flex: 1;              
    max-width: 40%;
}

#nombre_usuario{
    width: 230px;
    height: 60px;
    background-color:#264339;
    border: 3px solid #1b2c27;
    border-radius: 15px;
}

#mensaje{
    width: 600px;
    height: 200px;
    background-color: #264339;
    border: 3px solid #1b2c27;
    border-radius: 15px;
}

#boton{
    background-color: #264339;
    border: 5px solid #1b2c27;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 15px;
    color: #fafafa;
}