*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
}

/* fuentes para la pagina NO SE MUEVA */
@font-face {
  font-family: "Azonix";
  src: url("fonts/Azonix.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Passager";
  src: url("fonts/Passager.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PowellAndGeary";
  src: url("fonts/Powell\ and\ Geary.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "saxmono";
  src: url("fonts/saxmono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

div.frase{
  background-color: #8ba552;
  font-family: "PowellAndGeary", sans-serif;
  font-size: 20px;
  color: #FFFFFF ;   
  text-align: center;
  padding: 1px;

}

/*Carrusel de imagenes*/ 
/*contenedor de las imagenes este da el lugar en donde van a estar TEN CUIDADO SI LE MUEVES EL HEIGHT !!!! */
.carrusel{
  position: relative;
  width: 100vw; /*para que reaccione de forma horizontal el monitor */
  /*muevele con CUIDADO, eh eh eh que haces que le quieres mover */
  height: 300px;
  overflow: hidden;
}

/* Para que las imagenes se desplacen sin problema*/

.slides{
  display: flex;
  width: 100%; /*para que se respete el 100%*/
  height: 100%;
  animation: slide 22s infinite;
}

.slides img{
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  object-fit: cover; /*para que no se deforme la imagen*/
}

/*la animacion de las imagenes del carrusel QUE SE NOTEN LAS FALLAS ORTOGRAFICAS EL DIABLO AJJAJ */
@keyframes slide {
  0% { transform: translateX(0); }
  20% { transform: translateX(0); }         /* pausa imagen 1 */
  25% { transform: translateX(-100%); }    /* transición a imagen 2 */
  45% { transform: translateX(-100%); }    /* pausa imagen 2 */
  50% { transform: translateX(-200%); }    /* transición a imagen 3 */
  70% { transform: translateX(-200%); }    /* pausa imagen 3 */
  75% { transform: translateX(0); }        /* vuelve a la primera */
  100% { transform: translateX(0); }       /* pausa final antes del reinicio */
}

/*titulos importantes*/

h1 {
  position: absolute;
  top: 25px; /* distancia desde arriba del carrusel */
  left: 50%;
  transform: translateX(-50%);
  font-family: "Azonix", sans-serif;
  font-size: 50px;
  color: #C0D594;
  text-align: center;
  z-index: 10;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7); /* opcional para resaltar sobre la imagen */
}

/*intento de barra plegable OJALA SALGA BIEN, pdt si funciona tu YUPI*/

.barPle{
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  /*background-color: rgba(255, 255, 255, 0.8);  se sigue considerando */
  display: flex;
  justify-content:center;
  z-index: 15; /* mayor que el carrusel que esta encima de que */
  padding: 10px 0;
}

.barPItem{
  position: relative;
  padding: 15px 25px;
  color: black;
  cursor: pointer;
}

.barPItem a{
  text-decoration: none;
  color: black;
}

/*efecto cuando pase el mouse*/
.barPItem:hover{
  background-color: #f1f1f13c
}

/*muestra de la ventana*/
.barPItem:hover .interior{
  display: block;
}

.barPItem a:hover{
  background-color: #f0f0f0;
}

.logo-link {
  text-decoration: none;
  color: inherit;      /* hereda color del h1 */
}
.logo-link h1 {
  margin: 0;           /* evita doble margen */
  cursor: pointer;
}

/*Muestra del modelo con imagen y texto */

.seccion-muestra {
  display: flex; /* coloca imagen y texto lado a lado */
  align-items: center; /* centra verticalmente */
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}

.img-muestras {
  width: 45%; /* tamaño de la imagen */
  max-width: 600px;
  height: auto;
}

.texto-muestras {
  width: 40%;
  text-align: right;
  font-family: passager, sans-serif;
  font-size: 15px;
  line-height: 1.8;
}

/*Imagenes de las tendencias */

.tendencias-F {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 20px; /* espacio entre imágenes */
  margin-top: 20px;
}

.tendencias-F img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

/*texto de este bloque de tendecias*/
.tendencias-P{
  font-family: PowellAndGeary, sans-serif;
  text-align: center;
  margin-top: 80px;
  padding: 15px;
  font-size: 18px;
}

/*Imagenes del bloque de mejoras*/
.mejoras-F {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 20px; /* espacio entre imágenes */
  margin-top: 20px;
}

.mejoras-F img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}
/*texto de este bloque de mejoras*/
.mejoras-P{ 
  font-family: PowellAndGeary, sans-serif;
  text-align: center;
  margin-top: 80px;
  padding: 15px;
  font-size: 18px;
}

/*Imagen del chatbot*/

.chatBot {
  background-color: #446720bf;
  font-family: "Azonix", sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  display: flex;                  /* activa flexbox */
  justify-content: space-between;   /* separa texto y botón */
  align-items: center;            /* centra verticalmente */
  padding: 25px;
  margin-top: 100px;
}

/* texto */
.textBot {
  margin-top: 50px;
  width: 400x;
  height: 150px;
  margin-left: 15%;
}

.textBot p {
  font-size: 18px;
  line-height: 1.5; 
  color: black;
  text-align:center;
}

/* bloque rojo */
#botImg {
  display: flex;
  justify-content: center;

  background-color: white;
  width: 600px;
  height: 250px;
  margin-left: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 25px;
}

#botImg a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  justify-content: center;
}

/* efecto al pasar el mouse */
#botImg:hover {
  background-color:#e1f5cd91;
}
