
/*ENTRAN LAS DEMAS PAGINAS, QS, NH, CASOS, CATA, CHAT*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: #c0d594;
}

/* fuentes para la pagina NO SE MUEVA */

@font-face {
  font-family: "Azonix";
  src: url("fonts/Azonix.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Passager";
  src: url("fonts/Passager.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PowellAndGeary";
  src: url("fonts/Powell\ and\ Geary.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*para la barra de menu*/
h1 {
  position: absolute;
  top: 50px; /* distancia desde arriba del carrusel */
  left: 50%;
  transform: translateX(-50%);
  font-family: "Azonix", sans-serif;
  font-size: 50px;
  color: #C0D594;
  text-align: center;
  z-index: 10;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7); /* opcional para resaltar sobre la imagen */
}

.logo-link {
  text-decoration: none;
  color: inherit;      /* hereda color del h1 */
}
.logo-link h1 {
  margin: 0;           /* evita doble margen */
  cursor: pointer;
}

/*intento de barra plegable OJALA SALGA BIEN, pdt si funciona tu YUPI*/

.barPle{
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  /*background-color: rgba(255, 255, 255, 0.8);  se sigue considerando */
  display: flex;
  justify-content:center;
  z-index: 15; /* mayor que el carrusel que esta encima de que */
  padding: 10px 0;
}

.barPItem{
  position: relative;
  padding: 15px 25px;
  color: black;
  cursor: pointer;
}

.barPItem a{
  text-decoration: none;
  color: black;
}

/*efecto cuando pase el mouse*/
.barPItem:hover{
  background-color: #f1f1f13c
}

/*muestra de la ventana*/
.barPItem:hover .interior{
  display: block;
}

.barPItem a:hover{
  background-color: #f0f0f0;
}

/*los estilos dentro de NH y QS*/
.contenedor{
  margin-top: 0px;
  position: relative;
  overflow: hidden;
}

.ima{
  width: 100vw;
  height: 400px;
  overflow: hidden;
}

.ima img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.C-lienzo{
  position: relative;
  display: flex;
  padding-top: 40px;
  margin-top: -150px; 
  background-color: transparent;
  justify-content: center;
}

.lienzo {
  background-color: white;
  width: 80%;        /* para que esté centrado pero no sea tan ancho */
  padding: 15px
  border-radius: 5px;
  justify-content: justify;
}

.lienzo img {
  width: 100%;
  height: 50%;
  border-radius: 5px;
}


/*Titulos*/

h2{
  font-family:PowellAndGeary, sans-serif;
  font-size:30px;
  margin-top: 25px;
  padding: 15px 60px 0 60px; /*top, rigth, bootom, left*/
  text-align: left;
}

p{
  font-family: saxmono, sans-serif ;
  font-size: 18px;
  padding: 15px 60px 15px 60px;
  text-align: justify;
}

#continually-container {
  height: 100vh; 
  width: 100vw; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 8px;
  overflow: hidden; 
}

/*Los componentes del catalogo ☺ */

.titulos{
  margin-top: 5px;
  padding: 10px;
}

.cabeza{
  padding: 5px;
  text-align: left;
  font-size: 15px;
}


.PImagenesC {  
  padding: 10px;
}

.imagC {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 80px; /* espacio entre imágenes */
  margin-top: 20px;
}

.imagC img{
  width: 350px;
  height: 350px;
  object-fit: cover;  
}

/*texto catalogo*/
.textoC{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 20px; /* espacio entre imágenes */
  margin-top: 20px;
}
.textCa{
  font-family: PowellAndGeary, sans-serif;
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  font-size: 25px;
}

/*Panel de las imagenes del catalogo ☺ */

.panel{
  position: fixed;
  top:30%;
  right:-600px;
  width: 500px;
  height: 350px;
  background-color: white;
  padding: 30px;
  transition: right 0.4s ease;
}

.panel.open{
  right:90px;

}

.closebtm{
  font-size: 18px;
  cursor: pointer;
}

.info{
  display: none;
}